Django
djangorestframework
requests
django-environ
djangorestframework-jsonapi
django-filter
python-dotenv
icecream
django-cors-headers
Pillow
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
cloudinary
django-cloudinary-storage